ion-button {
  --border-radius: 0;
  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 150px;
}

hr {
  width: 90% !important;
  height: 3px !important;
  color: gray;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}
